<!DOCTYPE html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Rent Splitter</title>
    <link rel="stylesheet" href="../public/css/foundation.css" />
    <script src="../public/js/vendor/modernizr.js"></script>
     <style type="text/css">
        * {
          border: 1px solid red;
          -moz-box-sizing: border-box;
          -webkit-box-sizing: border-box;
          box-sizing: border-box;
        }
    </style>
  </head>
  <body>
     <!-- body goes here -->

<div class="row">
	<div class="large-12 columns">RentSplitter</div>
</div>

<div class="row">
	<div class="large-12 columns">2014</div>
</div>


<div class="row">
  <div class="large-1 columns">Jan</div>
  <div class="large-1 columns">Feb</div>
  <div class="large-1 columns">Mar</div>
  <div class="large-1 columns">Apr</div>
  <div class="large-1 columns">May</div>
  <div class="large-1 columns">Jun</div>
  <div class="large-1 columns">Jul</div>
  <div class="large-1 columns">Aug</div>
  <div class="large-1 columns">Sep</div>
  <div class="large-1 columns">Oct</div>
  <div class="large-1 columns">Nov</div>
  <div class="large-1 columns">Dec</div>
</div>


<table>
  <thead>
    <tr>
      <th width="150">Bill</th>
      <th width="150">Amt</th>
      <th width="150">Paid By</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Content Goes Here</td>
      <td>Content Goes Here</td>
      <td>Content Goes Here</td>
    </tr>
    <tr>
      <td>Content Goes Here</td>
      <td>Content Goes Here</td>
      <td>Content Goes Here</td>
    </tr>
    <tr>
      <td>Content Goes Here</td>
      <td>Content Goes Here</td>
      <td>Content Goes Here</td>
    </tr>
  </tbody>
</table>

<table>
  <thead>
    <tr>
      <th width="150">Bill</th>
      <th width="150">Amt</th>
      <th width="150">Paid By</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Content Goes Here</td>
      <td>Content Goes Here</td>
      <td>Content Goes Here</td>
    </tr>
    <tr>
      <td>Content Goes Here</td>
      <td>Content Goes Here</td>
      <td>Content Goes Here</td>
    </tr>
    <tr>
      <td>Content Goes Here</td>
      <td>Content Goes Here</td>
      <td>Content Goes Here</td>
    </tr>
  </tbody>
</table>



    <script src="js/vendor/jquery.js"></script>
    <script src="js/foundation.min.js"></script>
    <script>
      $(document).foundation();
    </script>
  </body>
</html>