<!DOCTYPE html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Rent Splitter</title>
    <link rel="stylesheet" href="../public/css/foundation.css" />
    <script src="../public/js/vendor/modernizr.js"></script>
  </head>
  <body>
     <!-- body goes here -->
<div class="row">
  <div class="large-12 columns">Jan</div>
  <div class="large-12 columns">Feb</div>
  <div class="large-12 columns">Mar</div>
  <div class="large-12 columns">Apr</div>
  <div class="large-12 columns">May</div>
  <div class="large-12 columns">Jun</div>
  <div class="large-12 columns">Jul</div>
  <div class="large-12 columns">Aug</div>
  <div class="large-12 columns">Sep</div>
  <div class="large-12 columns">Oct</div>
  <div class="large-12 columns">Nov</div>
  <div class="large-12 columns">Dec</div>
</div>

    <script src="js/vendor/jquery.js"></script>
    <script src="js/foundation.min.js"></script>
    <script>
      $(document).foundation();
    </script>
  </body>
</html>



