    
  <ul class="nav nav-tabs" role="tablist">
    <li class="active"><a href="#home">2014</a></li>
    <li><a href="#profile">2013</a></li>
    <li><a href="#messages">2012</a></li>
  </ul>

    <div class="container">
      <div class='row'>
        <div class="col-md-4">
          <table class="table table-hover"> 
            <thead>
              <tr>
                <th width="150">Bill</th>
                <th width="150">Amt</th>
                <th width="150">Paid By</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Cable</td>
                <td>$50.00</td>
                <td>Chris</td>
              </tr>
              <tr>
                <td>Electricity</td>
                <td>$90.00</td>
                <td>Erin</td>
              </tr>
              <tr>
                <td>Water</td>
                <td>$10.00</td>
                <td>Bob</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="col-md-6 col-md-offset-1">
          <table class="table table-hover"> 
            <thead>
              <tr>
                <th width="150">Roomie</th>
                <th width="150">Rent</th>
                <th width="150">Split</th>
                <th width="150">Due</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Chris</td>
                <td>900.00</td>
                <td>(-50)</td>
                <td>850.00</td>
              </tr>
              <tr>
                <td>Erin</td>
                <td>1100.00</td>
                <td>100.00</td>
                <td>1100</td>
              </tr>
              <tr>
                <td>Bob</td>
                <td>1000</td>
                <td>50</td>
                <td>1050</td>
              </tr>
            </tbody>
          </table>
        </div>  
      </div>
    </div>

    <script>
    $('#myTab a').click(function (e) {
      e.preventDefault();
      $(this).tab('show');
    })
    console.log("I'm working")
    </script>


    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->

    <script src="<%= @root %>js/bootstrap.min.js"></script>

  </body>
</html>